.form {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.form__title {
  width: 320px;
  .null;
  min-height: 106px;
  padding-top: 70px;
  background-color: @back-gray;
  text-align: center;
  z-index: -2;
}

.form__list {
  margin: 0 auto;
  margin-top: 19px;
  margin-left: 16px;
}

.form__item-field,
.form__item-filter {
  .null;
  margin: 0 auto;
  border: none;
  width: 278px;
}

.form__item-title {
  position: relative;
  .null;
  .font-rule-1;
  text-transform: uppercase;
  line-height: 0.94;
  color: @light-green;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 198px;
    height: 1px;
    background-color: @light-green;
    right: 17px;
    top: 8px;
  }
}

.form__email-title {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 179px;
    height: 1px;
    background-color: @light-green;
    right: 16px;
    top: 8px;
  }
}

.form__intro {
  .null;
  width: 242px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 48px;
  margin-bottom: 25px;
  margin-top: 22px;
  font-size: 13px;
  line-height: 1.85;
}

.form__radio-item,
.form__checkbox-item,
.form__name-item {
  .font-rule-1;
  line-height: 1.06;
}

.form__radio-list,
.form__checkbox-list,
.form__name-list {
  .reset-ul;
}

.form__input-name::placeholder,
.form__input-phone::placeholder,
.form__input-email::placeholder,
.form__input-textarea::placeholder {
  font-size: 17px;
  line-height: 1.06;
  color: #c7c7c7;
}

.form__input-name:-ms-input-placeholder {
  color: #c7c7c7;
}

.form__input-phone:-ms-input-placeholder {
  color: #c7c7c7;
}

.form__input-email:-ms-input-placeholder {
  color: #c7c7c7;
}

.form__input-textarea:-ms-input-placeholder {
  color: #c7c7c7;
  font-size: 17px;
  line-height: 1.06;
  font-family: "Open Sans", "Arial", sans-serif;
}

.form__input-name:hover,
.form__input-name:focus,
.form__input-phone:hover,
.form__input-phone:focus,
.form__input-email:hover,
.form__input-email:focus,
.form__input-textarea:hover,
.form__input-textarea:focus {
  border-color: @light-green;
}

.form__input-name:active,
.form__input-phone:active,
.form__input-email:active,
.form__input-textarea:active {
  border-color: @light-green;
}

.form__input-name,
.form__input-phone,
.form__input-email,
.form__input-textarea {
  font-size: 17px;
  line-height: 1.06;
  color: rgba(68, 68, 68, 1);
}

.form__radio-list {
  margin-top: 35px;
  padding-bottom: 19px;
}

.form__radio-item {
  position: relative;
  width: 155px;
  margin-bottom: 24px;
  margin-left: 64px;
  word-wrap: break-word;
}

.form__radio-input + label {
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid @light-black;
    border-radius: 50%;
    top: -10px;
    left: -63px;
    cursor: pointer;
  }
}

.form__radio-input:checked + label::after,
.form__radio-input:active + label::after {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 2px;
  left: -51px;
  background-color: #62d1ba;
}

.form__radio-input + label:hover::before {
  border: 2px solid #62d1ba;
}

.form__radio-input + label:active::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

.form__radio-input:focus + label::before,
.form__checkbox-input:focus + label::before {
  outline: 2px solid #1e90ff;
}

.form__checkbox-list {
  margin-top: 37px;
  padding-bottom: 31px;
}

.form__checkbox-item {
  position: relative;
  width: 155px;
  margin-bottom: 43px;
  margin-left: 64px;
  word-wrap: break-word;

  &:last-child {
    margin-bottom: 10px;
  }
}

.form__checkbox-input + label {
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 36px;
    height: 35px;
    top: -11px;
    left: -63px;
    border: 2px solid @light-black;
  }
}

.form__checkbox-input:checked + label::after,
.form__checkbox-input:active + label::after {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 16px;
  top: 2px;
  left: -55px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 22px 16px;
}

.form__checkbox-input + label:hover::before,
.form__checkbox-input + label:focus::before {
  border: 2px solid #62d1ba;
}

.form__checkbox-input + label:active::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

.form__name-list {
  margin-top: 28px;
  padding-bottom: 25px;
}

.form__input-name {
  width: 258px;
  height: 49px;
  border: none;
  margin-left: 1px;
  border-bottom: 2px solid @light-black;
  border-radius: none;

  &::placeholder {
    line-height: 52px;
  }
}

.form__input-name::-webkit-input-placeholder {
  line-height: 1.2;
}


.form__name-item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 5px;
  }
}

.form__input-phone {
  width: 258px;
  height: 48px;
  margin-top: 7px;
  margin-left: 1px;
  margin-bottom: 32px;
  border: none;
  border-bottom: 2px solid @light-black;
  border-radius: none;

  &::placeholder {
    line-height: 52px;
  }
}

.form__input-phone::-webkit-input-placeholder {
  line-height: 1.2;
}

.form__phone {
  position: relative;
}

.form__phone-icon {
  position: absolute;
  top: 34px;
  right: 25px;
  fill: @black;
  opacity: 0.2;
}

.form__input-phone:hover ~ .form__phone-icon,
.form__input-email:hover ~ .form__email-icon {
  fill: #62d1ba;
  opacity: 1;
}

.form__item-field {
  &--email {
    width: 276px;
  }

  &--textarea {
    width: 275px;
  }
}

.form__input-email {
  width: 258px;
  height: 48px;
  margin-top: 7px;
  margin-left: 1px;
  margin-bottom: 33px;
  border: none;
  border-bottom: 2px solid @light-black;
  border-radius: none;

  &::placeholder {
    line-height: 52px;
  }
}

.form__input-email::-webkit-input-placeholder {
  line-height: 1.2;
}

.form__email {
  position: relative;
}

.form__email-icon {
  position: absolute;
  top: 34px;
  right: 19px;
  fill: @black;
  opacity: 0.2;
}

.form__input-textarea {
  width: 239px;
  height: 121px;
  border: 2px solid @light-black;
  margin-left: -1px;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 15px;
  resize: vertical;
  border-radius: none;
}

.form__textarea-title {
  margin-bottom: 24px;
}

.form__button-wrapper {
  width: 275px;
  margin: 0 auto;
}

.form__info {
  .null;
  font-size: 14px;
  line-height: 1.14;
  margin-left: -1px;
}

.form__button {
  width: 260px;
  padding-top: 3px;
  margin-top: 32px;
  margin-left: -1px;
}

@media (min-width: @tablet-width) {
  .form {
    margin: 0 auto;
    width: 768px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .form__list-wrap {
    margin: 0 auto;
  }

  .form__title {
    position: relative;
    width: 768px;
    .null;
    margin: 0 auto;
    min-height: 132px;
    padding-top: 94px;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 768px;
      height: 23px;
      top: 214px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-size: 768px 23px;
    }
  }

  .form__list {
    width: 768px;
    margin: 0 auto;
    margin-top: 19px;
    margin-left: 0;
  }

  .form__item-field,
  .form__item-filter {
    .null;
    margin: 0 auto;
  }

  .form__intro {
    .null;
    width: 668px;
    margin: 0 auto;
    padding-left: 51px;
    padding-right: 0;
    margin-top: 72px;
    font-size: 17px;
    line-height: 1.78;
  }

  .form__item-title {
    margin-top: 2px;

    &::before {
      width: 0;
      height: 0;
    }
  }

  .form__radio-item,
  .form__checkbox-item,
  .form__name-item {
    font-size: 19px;
    line-height: 0.95;
  }

  .form__input-name,
  .form__input-phone,
  .form__input-email,
  .form__input-textarea {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 19px;
    line-height: 0.95;
    color: @light-black;
  }

  .form__input-name::placeholder,
  .form__input-phone::placeholder,
  .form__input-email::placeholder,
  .form__input-textarea::placeholder {
    font-size: 19px;
    line-height: 0.95;
  }

  .form__input-textarea:-ms-input-placeholder {
    color: #c7c7c7;
    font-size: 19px;
    line-height: 0.95;
  }

  .form__input-name:-ms-input-placeholder {
    color: #c7c7c7;
    font-size: 19px;
    line-height: 0.95;
  }

  .form__input-phone:-ms-input-placeholder {
    color: #c7c7c7;
    font-size: 19px;
    line-height: 0.95;
  }

  .form__input-email:-ms-input-placeholder {
    color: #c7c7c7;
    font-size: 19px;
    line-height: 0.95;
  }

  .form__item-conteiner {
    display: flex;
    flex-wrap: nowrap;
  }

  .form__item-filter--radio {
    width: 716px;
    margin-top: 53px;
    padding-left: 52px;
    padding-bottom: 11px;
  }

  .form__radio-list {
    margin-top: 0;
    padding-bottom: 0;
  }

  .form__radio-item {
    position: relative;
    width: 340px;
    margin-bottom: 58px;
    margin-left: 210px;
    word-wrap: break-word;
  }

  .form__radio-input + label {
    &::before {
      width: 48px;
      height: 48px;
      top: -15px;
      left: -81px;
    }
  }

  .form__radio-input:checked + label::after,
  .form__radio-input:active + label::after {
    width: 22px;
    height: 22px;
    top: -1px;
    left: -66px;
  }

  .form__item-filter--checkbox {
    .null;
    margin: 0 auto;
    width: 716px;
    min-height: 239px;
    padding-left: 52px;
    padding-right: 0;
    padding-top: 65px;
    background-color: @back-gray;
  }

  .form__checkbox-list {
    width: 470px;
    margin-top: 0;
    padding-bottom: 0;
    margin-left: 202px;
    display: flex;
    flex-wrap: wrap;
  }

  .form__checkbox-item {
    width: 200px;
    margin-bottom: 58px;
    margin-left: 0;
    margin-right: 62px;

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      margin-right: 0;
    }
  }

  .form__checkbox-input + label {
    &::before {
      width: 50px;
      height: 48px;
      top: -15px;
      left: -81px;
    }
  }

  .form__checkbox-input:checked + label::after,
  .form__checkbox-input:active + label::after {
    width: 33px;
    height: 22px;
    top: 1px;
    left: -70px;
    background-size: 33px 22px;
  }

  .form__name-title {
    margin-top: 36px;
  }

  .form__item-filter--name {
    width: 716px;
    margin: 0 auto;
    padding-left: 52px;
    margin-top: 31px;
    margin-bottom: 45px;
  }

  .form__name-list {
    width: 500px;
    margin: 0 auto;
    margin-top: 19px;
    padding-bottom: 0;
    margin-left: 124px;
  }

  .form__input-name {
    width: 428px;
    height: 49px;
    border: none;
    padding-top: 0;
    margin-left: 24px;
    padding-left: 17px;
    margin-bottom: 0;
    border-bottom: 2px solid @black;

    &--surname,
    &--fatherName {
      width: 375px;
    }

    &::placeholder {
      line-height: 52px;
    }
  }

  .form__input-name::-webkit-input-placeholder {
    line-height: 1.2;
  }

  .form__name-label {
    align-self: flex-start;
    margin-top: 15px;
  }

  .form__name-item {
    margin-bottom: 24px;
    flex-direction: row;
    align-items: flex-end;
  }

  .form__item-field--phone {
    width: 716px;
    min-height: 86px;
    padding-top: 28px;
    padding-left: 52px;
    background-color: @back-gray;
  }

  .form__phone {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .form__input-phone {
    width: 483px;
    height: 48px;
    margin-top: 22px;
    margin-left: 133px;
    margin-bottom: 0;
    padding-left: 17px;
    border: none;
    border-bottom: 2px solid @black;
    background-color: @back-gray;

    &::placeholder {
      line-height: 52px;
    }
  }

  .form__input-phone::-webkit-input-placeholder {
    line-height: 1.2;
  }


  .form__phone-title {
    margin-top: 39px;
    align-self: flex-start;
  }

  .form__phone-icon {
    top: 33px;
    right: 77px;
  }

  .form__item-field {
    &--email {
      width: 716px;
      min-height: 114px;
      padding-top: 0;
      padding-left: 52px;
      background-color: @back-gray;
    }
  }

  .form__email {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .form__input-email {
    width: 484px;
    height: 50px;
    margin-top: 10px;
    margin-left: 108px;
    margin-bottom: 0;
    padding-left: 16px;
    border: none;
    border-bottom: 2px solid @black;
    background-color: @back-gray;

    &::placeholder {
      line-height: 52px;
    }
  }

  .form__input-email::-webkit-input-placeholder {
    line-height: 1.2;
  }


  .form__email-title {
    padding-top: 6px;
  }

  .form__email-icon {
    position: absolute;
    top: 23px;
    right: 72px;
  }

  .form__item-field--textarea {
    width: 716px;
    padding-left: 52px;
    padding-top: 2px;
    margin-bottom: 53px;
  }

  .form__textarea {
    display: flex;
    flex-wrap: wrap;
  }

  .form__input-textarea {
    width: 480px;
    height: 122px;
    border: 2px solid @light-black;
    margin-top: 48px;
    margin-left: 126px;
    padding-top: 14px;
    padding-left: 15px;
    margin-bottom: 0;
  }

  .form__textarea-title {
    margin-top: 65px;
  }

  .form__button-wrapper {
    width: 668px;
    .padding-tablet;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .form__info {
    width: 320px;
    padding-top: 9px;
    text-align: right;
    font-size: 17px;
    line-height: 1.76;
    order: 5;
  }

  .form__button {
    width: 230px;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .form {
    .null;
    width: auto;
    margin-bottom: 50px;
  }

  .form__wrapper {
    background-color: @color-title;
    min-height: 255px;
    width: 100%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 34px;
      bottom: -16px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: center 0;
      z-index: 20;
    }
  }

  .form__title {
    margin: 0 auto;
    width: 1150px;
    min-height: 161px;
    padding-top: 94px;
    z-index: 1;

    &::after {
      width: 0;
      height: 0;
    }
  }

  .form__list {
    width: 100%;
    margin: 0 auto;
    margin-top: 19px;
  }

  .form__intro {
    .null;
    width: 672px;
    margin: 0 auto;
    padding-left: 225px;
    padding-right: 253px;
    margin-top: 121px;
    font-size: 17px;
    line-height: 1.78;
  }

  .form__list-wrap {
    &--1 {
      width: 1150px;
      margin: 0 auto;
    }

    &--2 {
      width: 100%;
      background-color: @back-gray;
    }

    &--3 {
      width: 1150px;
      margin: 0 auto;
    }

    &--4 {
      width: 100%;
      background-color: @back-gray;
    }

    &--5 {
      width: 1150px;
      margin: 0 auto;
    }
  }

  .form__item-filter--radio {
    width: 1036px;
    padding-left: 114px;
    margin-bottom: 57px;
  }

  .form__radio-list {
    margin-left: 155px;
  }

  .form__radio-item {
    margin-left: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__radio-input:checked + label::after {
    top: 0;
  }

  .form__item-filter--checkbox {
    width: 1040px;
    min-height: 163px;
    padding-left: 110px;
    padding-right: 0;
    padding-top: 65px;
    margin: 0 auto;
  }

  .form__checkbox-list {
    width: 815px;
    margin-top: 0;
    padding-bottom: 0;
    margin-left: 152px;
  }

  .form__checkbox-item {
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      margin-right: 62px;
    }

    &:nth-child(3),
    &:nth-child(6) {
      margin-left: 2px;
    }
  }

  .form__item-filter--name {
    width: 1039px;
    padding-left: 111px;
    margin-top: 31px;
  }

  .form__name-list {
    width: 900px;
    margin-top: 19px;
    padding-bottom: 0;
    margin-left: 73px;
  }

  .form__input-name {
    width: 608px;
    height: 49px;
    border: none;
    padding-top: 0;
    margin-left: 24px;
    padding-left: 17px;
    margin-bottom: 0;
    border-bottom: 2px solid @black;

    &--surname,
    &--fatherName {
      width: 557px;
    }
  }

  .form__item-field--phone {
    width: 1039px;
    padding-left: 111px;
  }

  .form__input-phone {
    width: 682px;
    margin-left: 82px;
  }

  .form__phone-icon {
    top: 33px;
    right: 234px;
  }

  .form__item-field {
    &--email {
      width: 1039px;
      padding-left: 111px;
    }
  }

  .form__input-email {
    width: 683px;
    margin-left: 56px;
  }

  .form__email-title {
    padding-top: 10px;
  }

  .form__email-icon {
    right: 229px;
  }

  .form__item-field--textarea {
    width: 1038px;
    padding-left: 112px;
    margin-bottom: 49px;
  }

  .form__input-textarea {
    width: 679px;
    margin-left: 74px;
  }

  .form__button-wrapper {
    width: 700px;
    margin: 0 auto;
    padding-left: 225px;
    padding-right: 225px;
  }

  .form__info {
    padding-top: 10px;
  }

  .form__button {
    padding-top: 0;
    margin-top: 0;
  }
}
