.page-header-logo__image {
  margin: 0 auto;
  margin-top: 21px;
  width: 86px;
  height: 35px;
}

.page-header-logo__wrapper {
  width: 320px;
  margin: 0 auto;
  min-height: 78px;
  order: -1;
  border-bottom: 1px solid @gray;
}

.page-header-logo__link {
  &--cursor {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-header-logo__image {
    width: 113px;
    height: 46px;
  }

  .page-header-logo__wrapper {
    width: 165px;
    height: 88px;
    position: absolute;
    left: 22px;
    top: 0;
    display: block;
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header-logo__image {
    width: 149px;
    height: 72px;
  }

  .page-header-logo__wrapper {
    width: 315px;
    position: relative;
    left: -18px;
    top: -12px;
  }
}
