.reviews {
  width: 260px;
  margin: 0 auto;
  .padding-mobile;
  margin-bottom: 86px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.reviews__item {
  .null;
  word-wrap: break-word;
}
.reviews__text {
  .null;
  line-height: 2.0;
  margin-bottom: 22px;
  margin-top: 3px;
}
.reviews__author-name {
  .font-rule-1;
  line-height: 2.0;
  font-style: normal;
}

.reviews__author-nickname {
  font-size: 17px;
  font-style: normal;
}
.reviews__button-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 30px;
}
.reviews__button {
  .null;
  width: 130px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: transparent;
  border: 1px solid @gray;
}
.reviews__button-icon {
    padding-left: 37px;
    padding-top: 12px;
    &:hover,
    &:focus {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
}

.reviews__write-button {
  padding-top: 13px;
  margin-top: 38px;
  font-size: 18px;
  order: 7;
}

@media (min-width: @tablet-width) {
  .reviews {
    position: relative;
    width: 668px;
    .padding-tablet;
    margin: 0 auto;
    padding-top: 99px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left 58px;
    background-size: 350px 457px;
    @media(min-resolution: @retina-dpi), (min-resolution: @retina-dppx){
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
      background-position: left 58px;
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 768px;
      height: 17px;
      bottom: -49px;
      left: 0px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-size: 768px 17px;
      transform: rotate(180deg);
    }
  }
  .reviews__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
  .reviews__title {
    width: 250px;
  }
  .reviews__write-button {
    width: 175px;
    order: 0;
    margin-left: auto;
  }
  .reviews__button-wrapper {
    transform: translateY(-85px) translateX(495px);
  }
  .reviews__button {
    width: 85px;
    border: none;
  }
  .reviews__text {
    margin-top: 15px;
    line-height: 1.8;
    word-wrap: break-word;
  }
  .reviews__author-name {
    margin-top: 31px;
  }
  .reviews__author-name,
  .reviews__author-nickname {
    width: 435px;
  }
  .reviews__button-icon {
    padding-left: 18px;
    padding-top: 11px;
  }
}



@media (min-width: @desktop-width) {
  .reviews {
    .null;
    width: 880px;
    min-height: 457px;
    margin-top: 3px;
    margin-left: 50px;
    padding-top: 84px;
    padding-left: 170px;
    padding-right: 50px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left 0px;
    background-size: 350px 457px;
    @media(min-resolution: @retina-dpi), (min-resolution: @retina-dppx){
      background-image: url("../img/review@2x.jpg");
      background-repeat: no-repeat;
      background-size: 350px 457px;
      background-position: left 64px;
    }
    &:after {
      width: 1050px;
      height: 23px;
      bottom: -69px;
      left: 0px;
      background-size: 1050px;
    }
  }
  .reviews__item {
    justify-content: flex-start;

    }
  .reviews__title {
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .reviews__button-wrapper {
    top: 0px;
  }
  .reviews__text {
    width: 770px;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .reviews__write-button {
    margin-top: 58px;
    margin-left: auto;
  }
  .reviews__author-name {
    margin-top: 34px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .reviews__author-nickname {
    margin-left: 5px;
    margin-top: 0px;
  }
  .reviews__button-wrapper {
    transform: translateY(-102px) translateX(703px);
  }
  .reviews__button-icon {
    padding-left: 22px;
    padding-top: 12px;
  }
}


