.contacts {
  width: auto;
  margin-top: 40px;
}
.contacts__map {
  width: 320px;
  margin-top: 30px;
  margin-left: -30px;
}
.contacts__button {
    margin: 0 auto;
  }

@media (min-width: @tablet-width) {
  .contacts {
    width: auto;
  }
  .contacts__info {
    display: flex;
    flex-wrap: nowrap;
  }
  .contacts__desc {
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contacts__topic {
    width: 60px;
  }
  .contacts__text {
    width: 226px;
  }
  .contacts__map {
    width: 768px;
    margin-left: -50px;
  }
  .contacts__button {
    margin: 0 auto;
    width: 226px;
    height: 48px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: auto;
    position: relative;
    padding-left: 175px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .contacts__map {
    width: 457px;
    margin-left: auto;
  }
  .contacts__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .contacts__button {
    position: absolute;
    top: 430px;
    left: 175px;
  }
}


