
.navigation {
  position: relative;
  display: block;
  width: auto;
  .null;
  text-align: center;
  font-family: @font-bold;
  font-size: 17px;
  line-height: 1.41;
}

.navigation__main-list,
.navigation__user-list {
  .reset-ul;
}

.navigation__main-item:nth-child(3),
.navigation__main-item:nth-child(4) {
  display: none;
}

.navigation__link {
  .reset-link;
  color: @black;
}
.navigation__link:hover,
.navigation__link:focus {
  color: rgba(0, 0, 0, 0.6);
}
.navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.navigation__main-item,
.navigation__user-item {
  min-height: 51px;
  padding-top: 27px;
  padding-left: 76px;
  text-align: left;
}

.navigation__main-item:nth-child(2),
.navigation__user-item:nth-child(1) {
  .shadow-line;
}

.navigation__info {
  display: none;
}
.navigation__toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: transparent;
}

@media (max-width: @mobile-width-only) {
  .navigation--closed .navigation__main-item,
  .navigation--closed .navigation__user-item{
    display: none;
  }
  .navigation--closed .navigation__main-item--active,
  .navigation--closed .navigation__user-item--active {
    display: block;
  }
  .navigation--opened .navigation__wrapper {
    position: relative;
  }
  .navigation--closed .navigation__toggle {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 31px;
      right: 31px;
      width: 20px;
      height: 14px;
      background-image: url(../img/icon-menu-open.svg);
      background-repeat: no-repeat;
    }
  }
  .navigation--opened .navigation__toggle {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 28px;
      right: 30px;
      width: 21px;
      height: 20px;
      background-image: url(../img/icon-menu-close.svg);
      background-repeat: no-repeat;
    }
  }
  .navigation--nojs .navigation__toggle {
    display: none;
  }
  .navigation--nojs .navigation__wrapper {
    position: static;
    min-height: 0;
  }
  .navigation--nojs .navigation__main-item {
    display: block;
  }
  .navigation--nojs .navigation__user-item {
    display: block;
  }
  .navigation--nojs .navigation__main-item:nth-child(3),
  .navigation--nojs .navigation__main-item:nth-child(4) {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .navigation {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    min-height: 88px;
    border-bottom: 1px solid @gray;
  }
  .navigation__main-item:nth-child(2),
  .navigation__user-item:nth-child(1) {
    box-shadow: none;
  }
  .navigation__toggle {
    display: none;
  }
  .navigation__main-item,
  .navigation__user-item {
    min-height: 0px;
    padding-top: 0px;
    padding-left: 0px;
}
  .navigation__info {
    .null;
    display: flex;
    margin-left: auto;
    text-align: right;
    transform: translateY(63px) translateX(348px);
    z-index: 2;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #444444;
  }
  .navigation__wrapper {
    width: 320px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  .navigation__main-list {
    display: flex;
    flex-wrap: wrap;
    font-family: @font-bold;
    font-size: 15px;
    line-height: 1.6;
  }
  .navigation__user-list {
    width: 348px;
    padding-right: 50px;
    display: flex;
    flex-wrap: nowrap;
  }
  .navigation__search {
    width: 82px;
    border-right: 1px solid @gray;
    border-left: 1px solid @gray;
  }
  .navigation__desc-search {
    display: none;
  }
  .navigation__cart {
    margin-left: auto;
    margin-top: 32px;

    }
  .navigation__main-item {
    padding-top: 0px;
    padding-left: 0px;
  }
  .navigation__main-item:nth-child(1),
  .navigation__main-item:nth-child(2) {
    transform: translateY(107px);
  }
  .navigation__main-item:nth-child(1) {
    padding-right: 36px;
  }
  .navigation__user-item {
    padding-top: 0px;
    padding-left: 0px;
  }
}


@media (min-width: @desktop-width) {
  .navigation {
    width: 1150px;
    min-height: 88px;
    .null;
    margin: 0 auto;
  }
  .navigation__main-item,
  .navigation__user-item {
    padding-top: 0px;
    padding-left: 0px;
}
  .navigation__main-item:nth-child(1),
  .navigation__main-item:nth-child(2) {
    transform: translateY(32px);
    font-family: @font-bold;
    font-size: 17px;
    line-height: 1.41;
  }
  .navigation__main-item:nth-child(1) {
    padding-right: 70px;
  }
  .navigation__main-item:nth-child(3) {
    padding-right: 62px;
  }
  .navigation__main-item:nth-child(3),
  .navigation__main-item:nth-child(4) {
    display: block;
  }
  .navigation__main-list {
    margin-top: 0px;
    margin-right: auto;
  }
  .navigation__user-list {
    width: 450px;
    margin-left: auto;

  }
  .navigation__main-item:nth-child(3),
  .navigation__main-item:nth-child(4) {
    transform: translateY(80px);
    z-index: 2;
  }
  .navigation__wrapper {
    width: 480px;
  }
  .navigation__search {
    margin-left: 100px;
  }
  .navigation__info {
    transform: translateY(50px) translateX(570px)
  }
}




