.popular-goods {
}

.popular-goods__marker {
  .font-rule-1;
  color: @light-green;
  text-transform: uppercase;
}

.popular-goods__table {
  line-height: 1.33;
}

.popular-table__row {
  padding-bottom: 18px;
}

.popular-column-2 {
  padding-left: 26px;
}

.popular-goods__price {
  font-family: @font-bold;
  font-size: 17px;
  line-height: 1.41;
}
