.promo {
  font-family: @font-bold;
  font-size: 19px;
  line-height: 1.26;
}

.promo__list {
    .reset-ul;
  }

.promo__link {
    .reset-link;
    color: @white;
  }

.promo__item {
  min-height: 103px;
}
.promo-item-1 {
    background-color: @light-green;
}
.promo-item-2 {
    background-color: @dark-green;
  }

