.reviews {
}

.reviews__text {
  line-height: 2.0;
}

.reviews__author-name {
  .font-rule-1;
  line-height: 2.0;
  font-style: normal;
}

.reviews__author-nickname {
  font-size: 17px;
  font-style: normal;
}



